<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<ul class="setting" id="pictureattr">
		<li>
			<div class="attributeName">图片编辑</div>
			<div class="switch">
				<el-button size="small" type="primary" @click="imgChange()">图片切换</el-button>
			</div>
		</li>
		<li>
			<div class="attributeName">宽度</div>
			<div class="input">
				<el-input size="small" v-model="imgObj.width" @focus="inputColor(imgObj.width)" @blur='inputNumGet(imgObj.width, "imgObj.width", "width")'></el-input>
			</div>
			<em>%</em>
		</li>
		<li>
			<div class="attributeName">高度</div>
			<div class="input">
				<el-input size="small" v-model="imgObj.height" @focus="inputColor(imgObj.height)" @blur='inputNumGet(imgObj.height, "imgObj.height", "height")'></el-input>
			</div>
			<em>%</em>
		</li>
		<li>
			<div class="attributeName">左距离</div>
			<div class="input">
				<el-input size="small" v-model="imgObj.left" @focus="inputColor(imgObj.left)" @blur='inputNumGet(imgObj.left, "imgObj.left", "left")'></el-input>
			</div>
			<em>%</em>
		</li>
		<li>
			<div class="attributeName">上距离</div>
			<div class="input">
				<el-input size="small" v-model="imgObj.top" @focus="inputColor(imgObj.top)" @blur='inputNumGet(imgObj.top, "imgObj.top", "top")'></el-input>
			</div>
			<em>%</em>
		</li>
		<div class="card">
			<el-tabs v-model="imgObj.hrefChange" type="card" @tab-click='tabPositionGet(imgObj.hrefChange, "hrefChange")'>
				<el-tab-pane name="common" label="内部地址选择">
					<li>
						<div class="attributeName">链接地址</div>
						<div class="select">
							<el-select size="small" v-model="imgObj.serlctHref" clearable placeholder="请选择地址" style="width:100%;" @change='seelectHref(imgObj.serlctHref, "href")'>
								<el-option v-for="item in hrefList" :key="item.value" :label="item.name" :value="item.id"></el-option>
							</el-select>
						</div>
					</li>
				</el-tab-pane>
				<el-tab-pane name="custom" label="外部地址输入">
					<li>
						<div class="attributeName">链接地址</div>
						<div class="input">
							<el-input size="small" v-model="imgObj.href" @blur='inputGet(imgObj.href, "imgObj.href", "href", "string")'>
								<template slot="prepend">Http://</template>
							</el-input>
						</div>
					</li>
				</el-tab-pane>
			</el-tabs>
		</div>
		<li>
			<div class="attributeName">链接打开选择</div>
			<div class="radioButton">
				<el-radio-group size="small" v-model="imgObj.target" @change='radioGet(imgObj.target, "target")'>
					<el-radio-button label="blank">新窗口</el-radio-button>
					<el-radio-button label="self">当前窗口</el-radio-button>
				</el-radio-group>
			</div>
		</li>
		<li>
			<div class="attributeName">背景颜色</div>
			<div class="color">
				<el-color-picker size="small"v-model="imgObj.backgroundColor" show-alpha @change='colorGet(imgObj.backgroundColor, "background.color")'></el-color-picker>
			</div>
			<div class="colorInput">
				<el-input size="small" v-model="imgObj.backgroundColor" :spellcheck="false" @focus="inputColor(imgObj.backgroundColor)" @blur='inputColorGet(imgObj.backgroundColor, "imgObj.backgroundColor", "background.color")'></el-input>
			</div>
		</li>
		<li>
			<div class="attributeName">边框粗细</div>
			<div class="slider">
				<el-slider v-model="imgObj.borderWidth" :min="0" :max="20" :step="1" @change='sliderGet(imgObj.borderWidth, "imgObj.borderWidth", "border.width")'></el-slider>
			</div>
			<div class="sliderInput">
				<el-input size="small" v-model="imgObj.borderWidth1" :spellcheck="false" @focus="inputColor(imgObj.borderWidth1)" @blur='sliderInpGet(imgObj.borderWidth1, "imgObj.borderWidth", "border.width", 0, 20, 1)'></el-input>
			</div>
			<em>rem</em>
		</li>
		<li>
			<div class="attributeName">边框圆角</div>
			<div class="slider">
				<el-slider v-model="imgObj.borderRadius" :min="0" :max="100" :step="1" @change='sliderGet(imgObj.borderRadius, "imgObj.borderRadius", "border.radius")'></el-slider>
			</div>
			<div class="sliderInput">
				<el-input size="small" v-model="imgObj.borderRadius1" :spellcheck="false" @focus="inputColor(imgObj.borderRadius1)" @blur='sliderInpGet(imgObj.borderRadius1, "imgObj.borderRadius", "border.radius", 0, 100, 1)'></el-input>
			</div>
			<em>rem</em>
		</li>
		<li>
			<div class="attributeName">边框颜色</div>
			<div class="color">
				<el-color-picker size="small"v-model="imgObj.borderColor" show-alpha @change='colorGet(imgObj.borderColor, "border.color")'></el-color-picker>
			</div>
			<div class="colorInput">
				<el-input size="small" v-model="imgObj.borderColor" :spellcheck="false" @focus="inputColor(imgObj.borderColor)" @blur='inputColorGet(imgObj.borderColor, "imgObj.borderColor", "border.color")'></el-input>
			</div>
		</li>
		<li>
			<div class="attributeName">边框样式</div>
			<div class="select">
				<el-select size="small" v-model="imgObj.borderStyle" placeholder="请选择" style="width:100%;" @change='selectGet(imgObj.borderStyle, "border.style")'>
					<el-option v-for="item in options1" :key="item.value" :label="item.label" :value="item.value"></el-option>
				</el-select>
			</div>
		</li>
		<li>
			<div class="attributeName">元素位置选择</div>
			<div class="cascader">
				<el-select size="small" v-model="boxId" placeholder="请选择" style="width:100%;" @change='cascaderGet(boxId)'>
					<el-option v-for="item in allTabList" :key="item.value" :label="item.label" :value="item.value"></el-option>
				</el-select>
			</div>
			<div class="button">
				<el-button size="small" type="primary" @click='eleCreatFun()'>确认选择</el-button>
			</div>
		</li>
	</ul>
</body>
</html>